@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('@knocklabs/react-notification-feed/dist/index.css');

:root {
  --rnf-notification-feed-popover-shadow: none !important;
  --rnf-notification-feed-popover-border-radius: 0.375rem !important;
}

.rnf-notification-feed-popover__inner {
  @apply border-2; 
}

.background {
  @apply inset-0 absolute -z-[1];
  background:
    radial-gradient(circle at top left, #ede9fe, rgba(255, 255, 255, 0) 15%), radial-gradient(circle at 80% 20%, #d8f3f6, rgba(255, 255, 255, 0) 15%)
}

@media screen(md) {
  .background {
    background:
    radial-gradient(circle at 15% 50%, #ede9fe, rgba(255, 255, 255, 0) 25%), radial-gradient(circle at 85% 30%, #d8f3f6, rgba(255, 255, 255, 0) 25%)
  }
}

.btn {
  @apply w-full rounded-md border-2 bg-teal-600 border-teal-600 leading-10 font-semibold text-white hover:bg-teal-700 hover:border-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-teal-500 transition delay-100 ease-linear text-sm shadow-tiny;
}

.btn:disabled {
  @apply cursor-default opacity-80 pointer-events-none;
}

.input {
  @apply text-sm py-2.5 border-2 mt-1 rounded-md w-full border-gray-200 focus:bg-teal-50 transition-colors delay-100 ease-linear focus:ring-transparent focus:border-teal-500;
}

.spinner {
  @apply animate-spin w-5 h-5 rounded-full border-2 border-r-black border-transparent;
}

.btn.loading {
  @apply text-[0] leading-[0] align-top;
}

.btn.loading:before {
  content: "";
  @apply animate-spin w-5 h-5 rounded-full border-2 border-r-white border-transparent my-2.5 mx-auto block;
}

input[type=file]::file-selector-button {
  @apply bg-gray-100;
  -webkit-margin-start: -1rem;
  -webkit-margin-end: 1rem;
  border: 0;
  color: black;
  cursor: pointer;
  font-size: .875rem;
  font-weight: 500;
  margin-inline-end:1rem;margin-inline-start:-1rem;padding: .625rem 1rem .625rem 2rem
}

[type='file']:focus {
  @apply outline-none;
}